* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* .react-multi-carousel-dot button {
  width: 50px !important;
  height: 6px !important;
  border-radius: 0 !important;
  border: 1px solid black !important;
} */
